.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

html body { 
    background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  header {
    font-family: 'Permanent Marker', cursive;    
    color:#105819;
    text-align: left;
  }

  nav li{
      list-style: none;
  }