html body { 
    width: 100%;
    height: 100%;
    background: url(assets/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    padding: 10px;
    margin: 10px;
}

h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;    
    color:#192b1c;
    text-shadow: 2px 2px 12px #333633;
    font-size: 100px;
    text-align: center;    
}

h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;    
    color:#192b1c;
    text-shadow: 2px 2px 12px #333633;
    font-size: 50px;
    text-align: center;
}

#bottomhr {
    border-color: #177e24;
    border-width: 3px;
    max-width: 850px; 
}

/* .buffer {
    height: 20rem;
  } */

nav {
    text-align: center;  
}

nav li {
    list-style: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: inline-block;
    font-size: 50px;
    padding: 25px;
}

nav li a {
    color: #192b1c;
}

nav li a:hover {
    color: #6b2f0c;
    font-size: 70px;
    transition-duration: 1.5s;
    text-decoration: underline;    
}

#nav_line {
    display: inline-block;
    font-size: 70px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #595c5f;

}