.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

html body {
    width: 100%;
    height: 100%;
    background: url(jay-heike-osvgw7fleHE-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    padding: 10px;
    margin: 10px;
}

h1 {
    font-family: 'Lexend Tera', sans-serif;
    color: #1df30a;
    text-shadow: -1px 5px black;
    font-size: 100px;
    text-align: center;
}

h2 {
    font-family: 'Lexend Tera', sans-serif;
    color: #1df30a;
    text-shadow: -1px 4px black;
    font-size: 40px;
    text-align: center;
    margin-left: 100px;
}

.buffer {
    height: 10rem;
}

nav {
    text-align: right;
    margin-left: 165px;
}

nav li {
    list-style: none;
    font-family: 'Lexend Tera', sans-serif;
    display: inline-block;
    font-size: 30px;
    padding: 5px;
}

nav li a {
    color: #cc7d2e;
    text-shadow: -2px 2px black;
}

nav li a:hover {
    color: #1cdbf5dc;
    text-shadow: -1px 8px 12px black;
    font-size: 70px;
    transition-duration: 1s;
    text-decoration: underline;
}

#nav_line {
    display: inline-block;
    font-size: 70px;
    color: #1cdcf5;
}

hr {
    border-color: #5f3f1e;
    border-width: 3px;
    max-width: 1050px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: 'Lexend Tera', sans-serif;
    font-size: 15px;
    text-align: center;
    color: #1df30a;
    text-shadow: -2px 2px black;
}